:root {

  --secondary: #9caea9;
  --dark: hsl(240, 8%, 91%);
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}
h1
 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 0.5;
 }
 
 main {
  margin: 20px auto;
  width: 94%;
} 

.hero {
  padding: 3% 4%;
  background-color: rgb(37, 37, 128);
  background-image: webkit-linear-gradient();
  color: var(--primary);
}

.app-title {
  font-size: 2rem;
  color: var(--dark);
  padding: 0 10px;
  display: inline-block;
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  
}
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.lead{
  color:aliceblue;
  text-align: center;
}

#fiveday-forecast-data
{
  display: flex;
  justify-content: center;
  flex-direction: row;
}